body{
  background             : url('../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
  width                  : 100%;
  height                 : 100%;
  font-family            : 'HelveticaRoman', sans-serif;
  color                  : #FFF;
  font-weight            : normal;
  font-size              : 1em;
}

/*------------------ main nav no login ------------------------*/

header#main_header{
  /*background-color: rgba(123, 123, 123, 0.3);*/
  width           : 100%;
  height          : 60px;
}

.main_nav{
  float       : right;
  margin-right: 60px;
  position    : relative;
}

li.item-menu{
  float : left;
}

li.item-menu a{
  text-decoration: none;
  color          : #FFF;
  padding        : 15px 30px;
  display        : block;
}

li.item-menu a:hover, li.item-menu a.active{
  color           : #AAE839;
  background-color: rgba(123, 123, 123, 0.3);
}

ol.sub-nav{
  background-color: rgba(123, 123, 123, 0.3);
  position        : absolute;
  top             : 48px;
  right           : 0px; 
  display         : none;
}

li.item-submenu a {
  padding: 10px 25px;
  display: block;
}

li.item-submenu a:hover{
  background-color: rgba(170,232,57, .2);
}

/*------------------ main home section ------------------------*/

#main_home{
  font-family: 'HelveticaThin', sans-serif;
  font-weight: normal;
}

.green_line{
  width           : 60%;
  height          : 1px;
  margin          : 0 auto;
  background-color: #AAE839;
}

figure.icoMooven{
  width  : 243px;
  margin : 0 auto;
  padding: 20px 0px;
}

h2.txt_titles{
  font-family     : 'helveticaThin';
  font-weight: normal;
  font-size  : 2.813em;
  text-align : center;
  margin     : 50px 0px;
}

footer.footer_home{
  text-align             : center;
  padding-top            : 40px;
}

p.txt_bottom_btn{
  font-size              : 0.85em;
  margin-top             : 20px;
  color                  : #9f9f9f;
}

/*------------------ login company styles -------------------*/

#register_company, #register_employee{
  margin-top: 80px;
  display   : none;
  overflow  : hidden;
}

.left_column{
  float: left;
  width: 500px;
}

.right_column{
  float       : right;
  width       : 350px;
  margin-right: 30px;
}

h3.txt_inside_titles{
  font-size  : 2.250em;
  font-family: 'helveticaThin';
  font-weight: normal;
  color      : #FFF;
  margin-top : 35px;
}

p.txt_descrip{
  margin-top    : 20px;
  text-align    : justify;
  padding-right : 40px;
  padding-bottom: 30px;
}

/*------------------ company form ------------------------*/

label{
  display    : block;
  font-family: "helveticaThin";
  font-weight: normal;
}

input.text_field{
  width : 350px;
  height: 30px;
  margin: 10px 0;
}

h3.title_form{
  font-family   : 'helveticaThin';
  font-weight   : normal;
  font-size     : 2.250em;
  color         : #AAE839;
  letter-spacing: 1px;
}

.tooltip{
  background-color: rgba(165, 6, 6, 0.9);
  position        : absolute;
  width           : 115px;
  font-size       : 12px;
  padding         : 5px 10px;
  border-radius   : 3px;
  margin-left     : 5px;
  margin-top      : -18px;
}

#tooltip_message_name,
#tooltip_message_address,
#tooltip_message_email,
#tooltip_message_password,
#tooltip_message_lastname,
#tooltip_message_emaillogin,
#tooltip_message_passwordlogin{
  display      : none;
  width        : 0; 
  height       : 0; 
  border-top   : 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right : 5px solid rgba(165, 6, 6, 0.9);
  margin-top   : 15px;
  
}

#tooltip_message_name{
  position     : absolute;
  top          : 203px;
  right        : 219px;
}

#tooltip_message_address{
  position     : absolute;
  top          : 272px;
  right        : 219px;

}

#tooltip_message_email{
  position     : absolute;
  top          : 377px;
  right        : 219px;
}

#tooltip_message_password{
  position     : absolute;
  top          : 446px;
  right        : 219px;
}

#tooltip_message_lastname{
  position     : absolute;
  top          : 272px;
  right        : 219px;
}

#tooltip_message_emaillogin{
  position: absolute;
  top     : 310px;
  right   : 550px;
}

#tooltip_message_passwordlogin{
  position: absolute;
  top     : 378px;
  right   : 550px;
}

.form-select{
  -webkit-appearance: none;
  width             : 350px;
  height            : 30px;
}

/*------------------ login ------------------------*/
#login-home{
  width      : 400px;
  margin     : 0 auto;
  padding-top: 60px;
}

