/*css for mooven project */
/*made by Angela Pinzon - yeiyei.co*/
/*2014 - All rights Reserved*/

/*basic reset */
*{
  margin            : 0;
  padding           : 0;
  list-style        : none;
  box-sizing        : border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
}

body{
  /*overflow: hidden;*/
}

/*font-face site*/

@font-face {
  font-family: 'HelveticaRoman';
	src: 	url('../fonts/helveticaRoman/HelveticaNeueLTStd-Roman.eot'); /* IE9 Compat Modes */
	src: 	url('../fonts/helveticaRoman/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('../fonts/helveticaRoman/HelveticaNeueLTStd-Roman.woff') format('woff'), /* Modern Browsers */
				url('../fonts/helveticaRoman/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
				url('../fonts/helveticaRoman/HelveticaNeueLTStd-Roman.svg#06ce8507218b5fc98ef98a8271373604') format('svg'); /* Legacy iOS */
	
	font-style :   normal;
	font-weight:  400;
}

@font-face {
  font-family: 'HelveticaThin';
  src: url('../fonts/helveticaThin/HelveticaNeueLTStd-UltLt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/helveticaThin/HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/helveticaThin/HelveticaNeueLTStd-UltLt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/helveticaThin/HelveticaNeueLTStd-UltLt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/helveticaThin/HelveticaNeueLTStd-UltLt.svg#127711851060d024028a66ca1446ddd8') format('svg'); /* Legacy iOS */
       
	font-style :  normal;
	font-weight:  400;
}

/*------------------- body styles -------------------*/

.middle{
	width : 1000px;
	margin: 0 auto;
}

h1.logo{
	float: left;
}

h1.logo a{
	display    : block;
	background : url('../images/icoMooven.png') no-repeat 0 0;
	width      : 80px;
	height     : 60px;
	text-indent: -9999px;
  margin: 20px 40px;
	}

/*------------------- button styles -------------------*/

a.generic_btn{
	font-family     : 'helveticaThin';
	font-weight     : normal;
	font-size       : 1.250em;
	padding         : 15px 30px 10px;
	background-color: rgba(255,255,255, 0.1);
	text-decoration : none;
	color           : #FFF;
	border          : 1px solid #A2A3A2;
}

a.generic_btn:hover{
	background-color: rgba(170,232,57, .2);
}

.generic_submit{
  -webkit-appearance: none;
  font-family       : 'helveticaThin', sans-serif;
  border            : 1px solid grey;
  padding           : 10px 30px 5px;
  background-color  : rgba(255,255,255,0.2);
  color             : #fff;
  font-size         : 14px;
  cursor            : pointer;
  margin-top        : 20px;
}

.generic_submit:hover{
  background-color: rgba(170,232,57, .2);
}

.generic_submit:focus{
  outline:none;
}


span.txt_inputradio{
  margin-left: 5px;
  margin-right: 20px;
  font-size: 13px;
  line-height: 45px;

}