body{
  background :url('../images/bg_02.png') repeat 0 0;
  font-family: 'HelveticaThin', sans-serif;
  color      : #444444;
  font-weight: normal;
  font-size  : 1em;
}


#main-userpanel{
  clear: both;
}


header#user_header{
  background-color  : #EDECEC;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 55, 0.3);
  -moz-box-shadow   : 0px 1px 1px 0px rgba(50, 50, 55, 0.3);
  box-shadow        : 0px 1px 1px 0px rgba(50, 50, 55, 0.3);
  width             : 100%;
  height            : 60px;
}

h1.logo_inside{
  background: url('../images/logo_v2.png') no-repeat 0 -5px;
  width: 178px;
  height:111px;
  text-indent: -9999px;
  float: left;
}

.user-header{
  padding:30px;
  border-bottom: 1px solid #D7D7D7;
  text-align: center;
}

.user_nav{
  float: left;
  margin-top: 15px;
  margin-left: 30px;
}

li.item-usernav{
  float: left;
}

.item-usernav a{
  font-family    : 'HelveticaRoman';
  color          : #444;
  display        : block;
  padding        : 10px 20px;
  text-decoration: none;
  font-size      : 14px;
  font-weight    : normal;

}

a.btn_create{
  background: url('../images/ico_create.png') no-repeat 0 5px;
}

a.btn_viewroutes{
  background: url('../images/ico_view.png') no-repeat 0 6px;
}

.item-usernav a:hover, .item-usernav a.active{
  color: #066F2F;
  text-decoration: underline;
}

.login-info{
  float: right;
  margin-top: 5px;
}

.avatar-top{
  float: right;
}

.avatar-top img{
  border-radius: 50%;
  border: 1px solid #5B5D58;
}

.txt-info{
  float: left;
  margin: 12px;
  text-align: right;
  font-family: 'HelveticaRoman';
}

h5.session_name{
  letter-spacing: -0.5px;
}

.txt-info a{
  font-size: 12px;
  color: #323232;
}

h2.title-user{
  font-size: 36px;
  color: #354005;
}

h3.descrip-user{
  font-size: 24px;
}

#content-create-route{
  width         : 800px;
  margin        : 0 auto;
  text-align    : center;
  padding-top   : 40px;
  padding-bottom: 160px;
}

#content-list-routes{
  width         : 800px;
  margin        : 0 auto;
  padding       : 40px;
  padding-bottom: 160px;
}

input#itinerary_name{
  width        : 350px;
  background   : transparent;
  border       : none;
  border-bottom: 1px solid grey;
  padding      : 10px 0;
  color        : #444;
  outline-style: none;
  font-size    : 19px;
  padding-left : 10px;
  margin-right : 70px;
}

select.seats-available{
  width        : 80px;
  height       : 30px;
  border-radius: 0px;
  font-size    : 14px;
}

.dotted-line{
  border-bottom: 1px dashed grey;
  margin       : 30px 0;
}

label.startpoint{
  background: url('../images/icoPointA.png') no-repeat 0 0;
  display   : inline-block;
  padding   : 15px 5px 0 30px;
  height    : 40px;
}

label.endpoint{
  background: url('../images/icoPointB.png') no-repeat 0 0;
  display   : inline-block;
  padding   : 15px 5px 0 30px;
  height    : 40px;
  margin-left: 40px;
}

input.routefield{
  width           : 225px;
  height          : 30px;
  font-size       : 14px;
  padding-left    : 5px;
  background-color: rgb(211, 211, 211);
  border          : none;
}

.route-map{
  background: url('../images/mapabase.jpg') no-repeat 0 0;
  width:700px ;
  height: 330px;
  margin-top: 20px; 
}

#container-map{
  width:100%;
  height: 330px;
  margin-top: 20px; 
}


/*------------------------template styles item itinerary------------------------*/

ol.all-routes{
  overflow: hidden;
}


ol.all-routes li:nth-child(2n+1){
  margin-left: 0px;
}

li.itinerary-item{
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.itinerary-item article{
  border: 1px solid #515151;
  padding: 10px;
}

.itinerary-item article header{
  border-bottom: 1px dashed #515151;
}

h1.item-name{
  font-family: 'HelveticaRoman';
  color      : #2F3F00;
  font-size  : 23px;
  font-weight: normal;
  font-style : normal;
}

h5.txt-seats{
  font-size  : 13px;
  font-family: 'HelveticaRoman';
  font-weight: normal;
  font-style : normal;
  color      : rgb(115, 114, 114);
}

.start_point_show{
  background      : url('../images/pointA_small.png') no-repeat 2px 2px;
  background-color: rgba(103, 162, 165, 0.10);
  margin-top      : 10px;
  height          : 30px;
  padding-left    : 25px;
  line-height     : 35px;
  font-size       : 13px;
  font-family     : 'HelveticaRoman';
}

.end_point_show{
  background      : url('../images/pointB_small.png') no-repeat 2px 2px;
  background-color: rgba(165, 228, 105, 0.10);
  height          : 30px;
  padding-left    : 25px;
  line-height     : 35px;
  font-size       : 13px;
  font-family     : 'HelveticaRoman';
  margin          : 5px 0;
}

a.deleteitinerary_btn{
  background : url('../images/icoDelete.png')no-repeat 0 0;
  opacity    : .5;
  text-indent: -9999px;
  display    : block;
  height     : 20px;
  width      : 20px;
  float      : right;
  margin-top : 10px;
}

a.deleteitinerary_btn:hover{
  opacity: 1;
}

.other_submit{
  -webkit-appearance: none;
  font-family: 'helveticaRoman', sans-serif;
  border: 1px solid rgb(114, 129, 106);
  padding: 10px 30px 5px;
  background-color: rgba(45, 69, 18, 1);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.other_submit:focus{
  outline:none;
}


#user-footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color  : rgb(237, 236, 236);
  padding           : 20px;
  text-align        : center;
  font-size         : 17px;
  font-family       : helveticaRoman;
  letter-spacing    : -0.5px;
  color             : rgb(5, 118, 118);
  box-shadow        : 0px 1px 4px #626262;
  -webkit-box-shadow: 0px 1px 4px #626262;
  -moz-box-shadow   : 0px 1px 4px #626262;

}

